# Angular
mylife-app/node_modules/
mylife-app/dist/
mylife-app/.angular/

# .NET
mylife-api/**/bin/
mylife-api/**/obj/
mylife-api/**/local.settings.json

# Superpowers
.superpowers/

# Environment
*.env
.env.local
